<h3>Gymkhana Profiles Policy</h3>

<p class="doc">
    <ol class="doc">
        <li>
            Gymkhana Profiles is intended to be used ONLY by applications built by students
            and hosted in the server infrastructure of IIT Bombay Gymkhana
        </li>
        <li>
            Any application registered must be verified before deployment. Unverified applications
            will have a cap on the number of users for security reasons, along with a
            warning to alert the user about the same.
        </li>
        <li>
            Only applications running on Gymkhana servers and built by students will be verified.
            Express permission of Head, Computer Center will be required to make any exceptions to
            this rule. For all applications not running on Gymkhana servers, usage of IITB SSO is
            strongly advised instead. MLC CANNOT make exceptions to this rule unilaterally.
        </li>
        <li>
            To get your application verified, write an email to mlc@iitb.ac.in. Computer Center or MLC
            may require specific compliances and/or documents before your application is verified.
        </li>
        <li>
            Only applications created with an institutional LDAP ID will be verified. Existing
            applications can be transferred upon request to another account. If no relevant institutional
            LDAP ID exists, the application must be transferred to MLC.
        </li>
        <li>
            In case of any dispute, the decision of Head, Computer Center and Dean of Student Affairs
            shall be final and binding.
        </li>
        <li>
            This policy may be altered by Computer Center without prior notification.
        </li>
    </ol>
</p>
